@{
    ViewBag.Title = "Home Page";
}
<div>
    <script type="text/javascript">
        $(document).ready(function () {
            var selectedFormId;
            $("#btnGenerate").click(function () {               

                var val = $("#selectFormId").find(':selected').text();
                
                var param = { formId: val };

                $.ajax({
                    // edit to add steve's suggestion.
                    //url: "/ControllerName/ActionName",
                    url: '/Home/Generate',
                    type:'POST',
                    data: { param: val } ,
                    success: function (data) {
                        // your data could be a View or Json or what ever you returned in your action method 
                        // parse your data here
                        //alert(data);
                    }
                });
               
            });

        });
    </script>
<div>

    <br />
    <br />
</div>
<div class="jumbotron" style="border:none">   
    <h4>Please select a form Id</h4>  
    <div style="width:100%">
        <table style="width:100%">
            <tr>
                <td colspan="2" style="width:30%;">
                    <select id="selectFormId" style="background-color:#e2f2f5;font-family:Cambria;font-size:20px;width:100%;padding-top:0%">                       
                        <option id="105" value="105">105</option>
                        <option id="106" value="106">106</option>
                    </select>
                </td> 
                <td>
                </td>   
                <td>
                </td>           
            </tr>
            <tr>             
                <td>
                    <input id="btnGenerate" type="button" value="Generate" name="Generate" style="height:30px;font-size:15px"/>
                </td>
                <td>                    
                </td>
            </tr>
        </table>
    </div>
</div>
</div>